body {
    background-image: url(http://rachouanrejeb.be/weather/images/assets/stars.png);
    background-size: 800px;
    background-position: top;
    background-repeat: repeat; 
    background-color: #185C69;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 120px;
  margin-top: 10px;
  text-align: center;
  z-index: 10;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}

h3 {
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.country-title {
  margin: 0 auto;
}

.country-data {
  width: 45%;
  display: inline-block;
  text-decoration: none;
}

.twitter-data {
/*  width: 45%;*/
/*  display: inline-block;*/
  position: absolute;
  right: 0;
/*  border: 3px solid white;*/
}

.container {
  display: inline-block;
  width: 1200px;
  text-align: center;
}

li {
  font-family: 'Sigmar One', cursive;
  color: white;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.country-info {
  position: absolute;
  left: 0;
  text-align: center;
}